.footer {
  font-weight: bold;
  padding: 1em;
  background-color: #1e2020;
  color: #c4e4e7;
}

p {
  font-size: 0.8em;
}

a {
  color: #b83132;
  text-decoration: none;
}

a:hover {
  color: #c93737;
}
